.events-view .event-actions {
	float: right;
}

.events-view .event-details h3 {
	margin-left: 20px;
}

.events-view .event-details span {
	color:black;
	margin-left: 20px;
}
.circle{
	background-color: green;
	height:30px;
	width: 30px;
	border-radius: 50%;
 	text-align: center;
	color: white;
	font-weight: bold;
	margin: 0 auto;

}
.circle span{
	display: inline-block;
	position:absolute;
}