<!DOCTYPE html>
<html lang="en">
<head>
    <title>Heroes on the Water - Event App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css" />
    <link rel="stylesheet" href="../node_modules/angular-material-icons/angular-material-icons.css" />

    <link rel="stylesheet" href="resources/login.css" />
    <link rel="stylesheet" href="resources/events.css" />
    <link rel="stylesheet" href="resources/stats.css" />
    <link rel="stylesheet" href="resources/redline.css" />
    <link rel="stylesheet" href="resources/graphs.css" />


</head>

<body ng-app="howApp" layout="column" ng-controller="ParentController as parentCtrl" ng-cloak>

    <!-- Menu bar and nav menu goes here -->
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <a href="#/events"><img src="resources/images/HOW.png" alt="HOW App" width="60"></a>

        </div>

        <!-- Add Event button -->
        <md-button ng-show="parentCtrl.profile.admin" aria-label="Create New Event" ng-click="parentCtrl.launchCreateEventModal($event)">
            <ng-md-icon icon="add_circle_outline" fill="white" size="30"></ng-md-icon>
        </md-button>

         <!--Export button-->
        <!--<md-button ng-show="parentCtrl.profile.admin" aria-label="Add" ng-click="parentCtrl.export($event)">-->
            <!--<md-icon md-svg-icon="resources/svg/ic_assessment_white_24px.svg" fill="white" size="30"></md-icon>-->
        <!--</md-button>-->

        <!--Event stats-->
        <md-button aria-label="Event Stats" ng-show="parentCtrl.profile.admin" ng-click="parentCtrl.navigate('/stats')">
            <md-icon md-svg-icon="resources/svg/ic_assessment_white_24px.svg" fill="white" size="30"></md-icon>
        </md-button>

        <md-button aria-label="My Profile" ng-click="parentCtrl.navigate('/profile')">
            <md-icon md-svg-icon="resources/svg/account_circle_48.svg" fill="white" size="30"></md-icon>
        </md-button>

<!--
         Settings button
        <md-button aria-label="Add" ng-click="parentCtrl.showSettings($event)">
            <md-icon md-svg-icon="resources/svg/account_circle_48.svg" fill="white" size="30"></md-icon>
        </md-button>
-->
    </md-toolbar>


    <!-- Actual view is a child of EventController -->
    <div ng-view></div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-route/angular-route.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-material/angular-material.js"></script>
    <script src="../node_modules/angular-material-icons/angular-material-icons.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <!-- Application itself -->
    <script src="app.js"></script>


    <!-- Controllers -->
    <script src="controllers/UserController.js"></script>
    <script src="controllers/EventController.js"></script>
    <script src="controllers/LoginController.js"></script>
    <script src="controllers/EventDetailsController.js"></script>
    <script src="controllers/CreateEventController.js"></script>
    <script src="controllers/RegisterVolunteerController.js"></script>
    <script src="controllers/RegisterVetController.js"></script>
    <script src="controllers/StatsController.js"></script>
    <script src="controllers/ProfileController.js"></script>
    <script src="controllers/GraphController.js"></script>

    <!-- Services -->
    <script src="services/UserService.js"></script>
    <script src="services/EventService.js"></script>



</body>
</html>
