<md-dialog aria-label="Add Event Dialog" ng-controller="EventController as ec">
    <md-content class="md-padding">
        <form name="eventForm" ng-submit="ec.addEvent()">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Chapter</label>
                    <md-select ng-model="ec.chapterState">
                        <md-option ng-repeat="chapter in ec.chapters" ng-value="chapter.title">
                            {{chapter.title}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-datepicker ng-model="eventDate" md-placeholder="Enter date" md-min-date="minDate"
                style="margin:15px 0;"></md-datepicker>
            </div>
            <md-input-container flex>
                <label>Event Type</label>
                <md-select ng-model="ec.eventState">
                    <md-option ng-repeat="type in ec.eventType" ng-value="type.title">
                        {{type.title}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Outing Days</label>
                    <input ng-model="ec.newEvent.outing">
                </md-input-container>
            </div>

            <div class="md-dialog-actions" layout="row">
                <span flex></span>
                <md-button ng-click="answer('You clicked Cancel')">Cancel</md-button>
                <md-button type="submit" class="md-primary md-raised">Create Event</md-button>
            </div>

        </form>
    </md-content>

</md-dialog>