<md-dialog aria-label="Create a New Event" ng-controller="CreateEventController as createEventCtrl">
    <md-content class="md-padding">
        <h2>Create a New Event</h2>
        <form name="eventForm" ng-submit="createEventCtrl.addEvent()">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Event title</label>
                    <input ng-model="createEventCtrl.newEvent.title">
                </md-input-container>
            </div>

            <div layout layout-sm="column">
                <md-datepicker ng-model="createEventCtrl.newEvent.date" required md-placeholder="Enter date" md-min-date="minDate"
                style="margin:15px 0;margin-left:-16px;"></md-datepicker>

                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Number of Days</label>
                        <input ng-model="createEventCtrl.newEvent.days">
                    </md-input-container>
                </div>
            </div>

            <div layout layout-sm="column">
                <md-input-container>
                  <label>From</label>
                  <input type="text" ng-model="createEventCtrl.newEvent.fromTime">
                </md-input-container>

                <md-input-container>
                  <label>To</label>
                  <input type="text" ng-model="createEventCtrl.newEvent.toTime">
                </md-input-container>
            </div>

            <div layout layout-sm="column">
                <md-input-container flex>
                    <label class="md-caption">Chapter</label>
                    <md-select ng-model="createEventCtrl.chapterState">
                        <md-option ng-repeat="chapter in createEventCtrl.chapters" ng-value="chapter.title">
                            {{chapter.title}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Event Type</label>
                    <md-select ng-model="createEventCtrl.eventState">
                        <md-option ng-repeat="type in createEventCtrl.eventType" ng-value="type.title">
                            {{type.title}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Notes (optional)</label>
                    <input ng-model="createEventCtrl.newEvent.notes">
                </md-input-container>
            </div>

        </form>
    </md-content>

    <md-dialog-actions>
        <md-button ng-click="createEventCtrl.cancel()">Cancel</md-button>
        <md-button type="submit" ng-click="createEventCtrl.addEvent()" class="md-primary md-raised">Create Event</md-button>
    </md-dialog-actions>

</md-dialog>