<div ng-controller="EventController as ec" class="events-view">
    <div flex layout="row">
        <md-content flex id="content">
            <md-list>
                <md-subheader class="md-no-sticky">
                    <h1>Upcoming Events</h1>
                </md-subheader>

                <md-list-item class="md-3-line" ng-repeat="event in ec.events track by $index" style="margin-top: 10px">

                    <div class="md-list-item-text event-details" layout="column">
                        <!--<md-icon md-svg-icon="{{event.avatar}}" class="avatar"></md-icon>-->
                        <h3 style="margin-left: 20px;">{{event.title}}</h3>
                        <p><span>Chapter:</span> {{event.chapter}}</p>
                        <p><span>Date:</span> {{event.date| date}}</p>
                        <p><span>Type:</span> {{event.type}}</p>
                        <p><span>Days:</span> {{event.days}}</p>
                    </div>

                    <div class="event-actions" layout="column">
                        <md-button ng-href="#/eventDetails/{{$index}}" class="md-primary md-raised">Details</md-button>

                        <!--<md-button class="md-fab md-mini md-primary" aria-label="Already Registered">-->

                        <!--</md-button>-->
                        <!--<div class="circle md-raised"><span>Vet</span></div>-->
                    </div>

                    <md-divider></md-divider>
                </md-list-item>

            </md-list>

        </md-content>

    </div>
</div>
