<link rel="stylesheet" href="./resources/event-details.css" type="text/css" media="all">
<div class="event-details-view" ng-controller="EventDetailsController as eventDetailCtrl">
	<span>
		<md-button class="md-primary md-raised" ng-click="eventDetailCtrl.launchRegisterVolunteerModal($events)">Register as Volunteer</md-button>
		<md-button class="md-primary md-raised" ng-click="eventDetailCtrl.launchRegisterVetModal($events)">Register as Vet</md-button>
	</span>
	<md-list class="">
		<md-subheader>{{eventDetailCtrl.eventObj.title}}</md-subheader>
		<md-list-item>
			<img class="md-avatar-icon" ng-src="resources/svg/ic_card_membership_black_24px.svg">
			<span>Chapter:</span>
			<span>{{eventDetailCtrl.eventObj.chapter}}</span>
		</md-list-item>
		<md-list-item>
			<img class="md-avatar-icon" ng-src="resources/svg/ic_event_black_24px.svg">
			<span>Date:</span>
			<span>{{eventDetailCtrl.eventObj.date|date}}</span>
		</md-list-item>
		<md-list-item>
			<md-icon class="md-avatar-icon" md-svg-icon="resources/svg/ic_date_range_black_24px.svg"></md-icon>
			<span>Outing days:</span>
			<span>{{eventDetailCtrl.eventObj.days}}</span>
		</md-list-item>
		<md-list-item>
			<md-icon class="md-avatar-icon" md-svg-icon="resources/svg/ic_card_travel_black_24px.svg"></md-icon>
			<span>Type:</span>
			<span>{{eventDetailCtrl.eventObj.type}}</span>
		</md-list-item>
		<md-divider></md-divider>
		<md-subheader>Vets</md-subheader>
		<div class="img-padding-left">
			<span ng-repeat="img in eventDetailCtrl.eventObj.vets" class="side-by-side">
				<img class="img-round" ng-src="{{img.profileImg}}" alt="vet $index">
				<figcaption>{{img.firstName}}</figcaption>
			</span>
		</div>
		<md-divider></md-divider>
		<md-subheader>Volunteers</md-subheader>
		<div class="img-padding-left">
			<span ng-repeat="img in eventDetailCtrl.eventObj.volunteers" class="side-by-side">
				<img class="img-round" ng-src="{{img.profileImg}}" alt="volunteer $index">
				<figcaption>{{img.firstName}}</figcaption>
			</span>
		</div>
		<md-divider></md-divider>
	</md-list>
</div>
