<md-content>
        <section layout="row" layout-sm="column" flex>
            <md-subheader class="md-no-sticky"><h2 style="display:inline-block;position:relative;top:-10px">Event Graphs</h2>
                <md-button style="margin-left:120px" class="md-primary md-raised" ng-href="#/stats">Stats</md-button>
            </md-subheader>

        </section>
    <md-divider></md-divider>
    <select class="group" id="group">
        <option value="Warriors">Warriors</option>
        <option value="Volunteers">Volunteers</option>
        <option value="Families">Families</option>
    </select>
    <select class="filter" id="filter">
        <option value="Gender">Gender</option>
        <option value="Age">Age</option>
        <option value="Branch">Branch</option>
        <option value="History">History</option>
    </select>
    <div id="graph"></div>
</md-content>
<script>
    var svg = d3.select("#graph")
            .append("svg")
            .append("g")

    svg.append("g")
            .attr("class", "slices");
    svg.append("g")
            .attr("class", "labels");
    svg.append("g")
            .attr("class", "lines");

    // initial. will not get updated with resize
//    var width = window.innerWidth/2,
//            height = window.innerHeight/2,
//            radius = Math.min(width, height) / 2;
    var width = 500,
            height = window.innerHeight/2,
            radius = Math.min(width, height) / 2;


    var pie = d3.layout.pie()
            .sort(null)
            .value(function(d) {
                return d.value;
            });

    var arc = d3.svg.arc()
            .outerRadius(radius * 0.8)
            .innerRadius(radius * 0.4);

    var outerArc = d3.svg.arc()
            .innerRadius(radius * 0.9)
            .outerRadius(radius * 0.9);

    svg.attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var key = function(d){ return d.data.label; };

//    // color pallete http://www.colourlovers.com/palette/4305704/Insightful1
    var color = d3.scale.ordinal()
            .domain(["Male", "Female", "Army", "Marine Corps", "Navy", "Air Force", "Coast Guard", "Returning", "New", "18-30", "31-40", "41-50", ">50"])
            .range(["#76B8D8", "#F99857", "#001C8A", "#007780", "#003857", "#76B8D8", "#F99857", "#003857", "#76B8D8", "#001C8A", "#007780", "#003857", "#76B8D8"]);

    var color_gender = d3.scale.ordinal()
            .domain(["Male", "Female"])
            .range(["#76B8D8", "#F99857"]);

    var color_age = d3.scale.ordinal()
            .domain(["18-30", "31-40", "41-50", ">50"])
            .range(["#001C8A", "#007780", "#003857", "#76B8D8"]);

    var color_branch = d3.scale.ordinal()
            .domain(["Army", "Marine Corps", "Navy", "Air Force", "Coast Guard"])
            .range(["#001C8A", "#007780", "#003857", "#76B8D8", "#F99857"]);

    var color_history =  d3.scale.ordinal()
            .domain(["Returning", "New"])
            .range(["#003857", "#76B8D8"]);


    function populate (){
        var group = document.getElementById("group").value;
        var filter = document.getElementById("filter").value;

        if (filter == "Gender") {
            var labels = color_gender.domain();
            return labels.map(function(label){
                return { label: label, value: Math.random() }
            });
        } else if (filter == "Age") {
            var labels = color_age.domain();
            return labels.map(function(label){
                return { label: label, value: Math.random() }
            });
        } else if (filter == "Branch") {
            var labels = color_branch.domain();
            return labels.map(function(label){
                return { label: label, value: Math.random() }
            });
        } else {
            var labels = color_history.domain();
            return labels.map(function(label){
                return { label: label, value:Math.random()}
            });
        }
    }

    change(populate());

    d3.select(".group")
            .on("change", function(){
                change(populate());
            });

    d3.select(".filter")
            .on("change", function(){
                change(populate());
            });

    function change(data) {

        /* ------- PIE SLICES -------*/
        var slice = svg.select(".slices").selectAll("path.slice")
                .data(pie(data), key);

        slice.enter()
                .insert("path")
                .style("fill", function(d) { return color(d.data.label); })
                .attr("class", "slice");

        slice
                .transition().duration(1000)
                .attrTween("d", function(d) {
                    this._current = this._current || d;
                    var interpolate = d3.interpolate(this._current, d);
                    this._current = interpolate(0);
                    return function(t) {
                        return arc(interpolate(t));
                    };
                })

        slice.exit()
                .remove();

        /* ------- TEXT LABELS -------*/

        var text = svg.select(".labels").selectAll("text")
                .data(pie(data), key);

        text.enter()
                .append("text")
                .attr("dy", ".35em")
                .text(function(d) {
                    return d.data.label;
                });

        function midAngle(d){
            return d.startAngle + (d.endAngle - d.startAngle)/2;
        }

        text.transition().duration(1000)
                .attrTween("transform", function(d) {
                    this._current = this._current || d;
                    var interpolate = d3.interpolate(this._current, d);
                    this._current = interpolate(0);
                    return function(t) {
                        var d2 = interpolate(t);
                        var pos = outerArc.centroid(d2);
                        pos[0] = radius * (midAngle(d2) < Math.PI ? 1 : -1);
                        return "translate("+ pos +")";
                    };
                })
                .styleTween("text-anchor", function(d){
                    this._current = this._current || d;
                    var interpolate = d3.interpolate(this._current, d);
                    this._current = interpolate(0);
                    return function(t) {
                        var d2 = interpolate(t);
                        return midAngle(d2) < Math.PI ? "start":"end";
                    };
                });

        text.exit()
                .remove();

        /* ------- SLICE TO TEXT POLYLINES -------*/

        var polyline = svg.select(".lines").selectAll("polyline")
                .data(pie(data), key);

        polyline.enter()
                .append("polyline");

        polyline.transition().duration(1000)
                .attrTween("points", function(d){
                    this._current = this._current || d;
                    var interpolate = d3.interpolate(this._current, d);
                    this._current = interpolate(0);
                    return function(t) {
                        var d2 = interpolate(t);
                        var pos = outerArc.centroid(d2);
                        pos[0] = radius * 0.95 * (midAngle(d2) < Math.PI ? 1 : -1);
                        return [arc.centroid(d2), outerArc.centroid(d2), pos];
                    };
                });

        polyline.exit()
                .remove();
    };
</script>