<div ng-controller="LoginController as loginCtrl" class="login-view">
    <!--<md-content class="md-padding" ng-if="!parentCtrl.profile.authenticated">-->
    <md-content class="md-padding">
        <h2>Login into the application</h2>
        <form name="eventForm" class="login-container">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Name</label>
                    <input ng-model="loginCtrl.username">
                </md-input-container>
                <md-input-container flex>
                    <label>Password</label>
                    <input type="password" ng-model="loginCtrl.password">
                </md-input-container>
            </div>
            <div class="md-dialog-actions" layout="row">
                <span flex></span>
                <md-button ng-click="answer('You clicked Cancel')">Cancel</md-button>
                <md-button ng-href="#/events" class="md-primary md-raised">Login</md-button>
                <!--<md-button ng-click="parentCtrl.login(loginCtrl.username, loginCtrl.password, loginCtrl.login)" class="md-primary md-raised">Login</md-button>-->
            </div>
        </form>
    </md-content>
    <!--<div ng-if="parentCtrl.profile.authenticated">-->
        <!--<p>You are already logged in, silly!</p>-->
    <!--</div>-->
</div>
