<md-content layout = "row" ng-controller="ProfileController as profileCtrl" md-scroll-y>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="user in profileCtrl.users track by $index" ng-show="$first" style="margin-top: 10px" >
            <md-card class="md-list-item-text">
                <img alt="Sandeep Gravatar image"
                    src="http://www.gravatar.com/avatar/c6e6c57a2173fcbf2afdd5fe6786e92f.png?s=300"
                             height="50px"
                             width="50px">
                <h3 class="md-title">{{user.name}}</h3>
                <h3 class="md-title">{{user.name}}@gmail.com</h3>
                <p>Location: Dallas, TX</p>
                <p>Age: 40</p>
                <md-button ng-href="#/login" class="md-primary md-raised">Log out</md-button>
            </md-card>
        </md-list-item>
    </md-list>
    <div layout = "column" layout-fill> 
            <md-subheader class="md-no-sticky">
                    <h2>Registered Events</h2>
            </md-subheader>
            <md-divider></md-divider>
            <div class="inset" hide-sm  ></div>
                <md-list>
                    <md-list-item style="margin-bottom: 5px;" class="md-2-line" ng-repeat="event in profileCtrl.events track by $index" >
                        <md-card  layout-fill>
                            <md-card-content >
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{event.title}}</h3>
                                    <p><span>Chapter:</span> {{event.chapter}}</p>
                                    <p><span>Date:</span> {{event.date| date}}</p>
                                    <p><span>Type:</span> {{event.type}}</p>
                                    <p><span>Days:</span> {{event.days}}</p>
                                </div>
                            </md-card-content>
                        </md-card>
                    </md-list-item>
                </md-list>
    </div>  
</md-content>
