<md-dialog aria-label="Vet Registration" ng-controller="RegisterVetController as registerVetCtrl">
    <md-content class="md-padding">
        <h2>Register as a Vet</h2>
        <form name="registerVetForm" ng-submit="registerVetCtrl.registerVet()">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>First Name</label>
                    <input ng-model="registerVetCtrl.newVet.firstName">
                </md-input-container>
                <md-input-container flex>
                    <label>Last Name</label>
                    <input ng-model="registerVetCtrl.newVet.lastName">
                </md-input-container>
            </div>
            <div>
                <md-radio-group ng-model="registerVetCtrl.newVet.gender">
                    <md-radio-button value="male" class="md-primary">Male</md-radio-button>
                    <md-radio-button value="female" class="md-primary">Female</md-radio-button>
                </md-radio-group>
            </div>
            <div layout layout-sm="column">
                <md-checkbox ng-model="registerVetCtrl.newVet.firstTimeVet">
                    Is this your first event?
                </md-checkbox>
            </div>
            <div layout layout-sm="column">
                <md-input-container>
                    <label>Visitors</label>
                    <input type="text" ng-model="registerVetCtrl.newVet.visitors">
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-checkbox ng-model="registerVetCtrl.newVet.firstTimeVisitors">
                    First time for visitors?
                </md-checkbox>
            </div>
        </form>
    </md-content>

    <md-dialog-actions>
        <md-button ng-click="registerVetCtrl.cancel()">Cancel</md-button>
        <md-button type="submit" ng-click="registerVetCtrl.registerVet()" class="md-primary md-raised">Register</md-button>
    </md-dialog-actions>
</md-dialog>