<md-dialog aria-label="Add Event Dialog">
    <md-content class="md-padding">
        <form name="eventForm">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>First Name</label>
                    <input ng-model="user.firstName">
                </md-input-container>
                <md-input-container flex>
                    <label>Last Name</label>
                    <input ng-model="user.lastName">
                </md-input-container>
            </div>
            <md-input-container flex>
                <label>Address</label>
                <input ng-model="user.address">
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>City</label>
                    <input ng-model="user.city">
                </md-input-container>
                <md-input-container flex>
                    <label>State</label>
                    <input ng-model="user.state">
                </md-input-container>
                <md-input-container flex>
                    <label>Postal Code</label>
                    <input ng-model="user.postalCode">
                </md-input-container>
            </div>
            <md-input-container flex>
                <label>Biography</label>
                <textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
            </md-input-container>
        </form>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('not useful')">Cancel</md-button>
        <md-button ng-click="answer('useful')" class="md-primary">Save</md-button>
    </div>
</md-dialog>