<md-dialog aria-label="Volunteer Registration" ng-controller="RegisterVolunteerController as registerVolunteerCtrl">
    <md-content class="md-padding">
        <h2>Register as a Volunteer</h2>
        <form name="registerVolunteerForm" ng-submit="registerVolunteerCtrl.registerVolunteer()">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>First Name</label>
                    <input ng-model="registerVolunteerCtrl.newVolunteer.firstName">
                </md-input-container>
                <md-input-container flex>
                    <label>Last Name</label>
                    <input ng-model="registerVolunteerCtrl.newVolunteer.lastName">
                </md-input-container>
            </div>

            <div layout layout-sm="column">
                <md-checkbox ng-model="registerVolunteerCtrl.newVolunteer.firstTimeVolunteer">
                    Is this your first event?
                </md-checkbox>
            </div>
            <div layout layout-sm="column">
                <md-checkbox ng-model="registerVolunteerCtrl.newVolunteer.warriorVolunteer">
                    Are you a warrior volunteer?
                </md-checkbox>
            </div>
            <div layout layout-sm="column">
                <md-input-container>
                    <label>Volunteer hours</label>
                    <input type="text" ng-model="registerVolunteerCtrl.newVolunteer.volunteerHours">
                </md-input-container>
            </div>

        </form>
    </md-content>

    <md-dialog-actions>
        <md-button ng-click="registerVolunteerCtrl.cancel()">Cancel</md-button>
        <md-button type="submit" ng-click="registerVolunteerCtrl.registerVolunteer()" class="md-primary md-raised">Register</md-button>
    </md-dialog-actions>
</md-dialog>