<md-content ng-controller="StatsController as statsCtrl">
    <md-list flex >
        <md-subheader class="md-no-sticky"><h2 style="display:inline-block;position:relative;top:-20px">Event Stats</h2>
            <md-button style="margin-left:100px" class="md-primary md-raised" ng-href="#/graphs">Graphs</md-button>
        </md-subheader>
        <md-divider ></md-divider>
        <md-list-item class="md-3-line" layout="column">
            <md-subheader class="md-no-sticky">August<span style="margin-left:100px">Total Events:</span>
                <span class="bold">{{statsCtrl.augustTotals.totalEvents}}</span></md-subheader></md-subheader></md-subheader>
            <table class="stat-text" cellpadding="5">
                <tr>
                    <td>Males Vets:</td>
                    <td><span class="bold">{{statsCtrl.augustTotals.totalMaleVets}}</span></td>
                    <td>Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.augustTotals.totalEventVolunteers}}</span></td>
                    <td></td>

                </tr>
                <tr>
                    <td>Females Vets:</td>
                    <td><span class="bold">{{statsCtrl.augustTotals.totalFemaleVets}}</span></td>
                    <td>First Time Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.augustTotals.totalFirstTimeVolunteers}}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bottom-border">First Time Vets:</td>
                    <td class="bottom-border"><span class="bold">{{statsCtrl.augustTotals.totalFirstTimeVets}}</span></td>
                    <td>Warrior Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.augustTotals.totalWarriorVolunteers}}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Visitors:</td>
                    <td><span class="bold">{{statsCtrl.augustTotals.totalVisitors}}</span></td>
                    <td class="bottom-border">Volunteer Hours:</td>
                    <td class="bottom-border"><span class="bold">{{statsCtrl.augustTotals.totalVolunteerHours}}</span></td>
                </tr>
                <tr>
                    <td>First Time Visitors:</td>
                    <td><span class="bold">{{statsCtrl.augustTotals.totalFirstTimeVisitors}}</span></td>
                    <td>Outing Days</td>
                    <td><span class="bold">{{statsCtrl.augustTotals.totalOutingDays}}</span></td>
                </tr>
            </table>
        </md-list-item>
        <md-divider ></md-divider>
        <md-list-item class="md-3-line" layout="column">
            <md-subheader class="md-no-sticky">September<span style="margin-left:100px">Total Events:</span>
                <span class="bold">{{statsCtrl.septemberTotals.totalEvents}}</span></md-subheader></md-subheader>
            <table class="stat-text" cellpadding="5">
                <tr>
                    <td>Males Vets:</td>
                    <td><span class="bold">{{statsCtrl.septemberTotals.totalMaleVets}}</span></td>
                    <td>Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.septemberTotals.totalEventVolunteers}}</span></td>
                    <td></td>

                </tr>
                <tr>
                    <td>Females Vets:</td>
                    <td><span class="bold">{{statsCtrl.septemberTotals.totalFemaleVets}}</span></td>
                    <td>First Time Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.septemberTotals.totalFirstTimeVolunteers}}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bottom-border">First Time Vets:</td>
                    <td class="bottom-border"><span class="bold">{{statsCtrl.septemberTotals.totalFirstTimeVets}}</span></td>
                    <td>Warrior Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.septemberTotals.totalWarriorVolunteers}}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Visitors:</td>
                    <td><span class="bold">{{statsCtrl.septemberTotals.totalVisitors}}</span></td>
                    <td class="bottom-border">Volunteer Hours:</td>
                    <td class="bottom-border"><span class="bold">{{statsCtrl.septemberTotals.totalVolunteerHours}}</span></td>
                </tr>
                <tr>
                    <td>First Time Visitors:</td>
                    <td><span class="bold">{{statsCtrl.septemberTotals.totalFirstTimeVisitors}}</span></td>
                    <td>Outing Days</td>
                    <td><span class="bold">{{statsCtrl.septemberTotals.totalOutingDays}}</span></td>
                </tr>
            </table>
        </md-list-item>
        <md-divider ></md-divider>
        <md-list-item class="md-2-line" layout="column">
            <md-subheader class="md-no-sticky">October<span style="margin-left:100px">Total Events:</span>
                <span class="bold">{{statsCtrl.octoberTotals.totalEvents}}</span></md-subheader>
            <table class="stat-text" cellpadding="5">
                <tr>
                    <td>Males Vets:</td>
                    <td><span class="bold">{{statsCtrl.octoberTotals.totalMaleVets}}</span></td>
                    <td>Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.octoberTotals.totalEventVolunteers}}</span></td>
                    <td></td>

                </tr>
                <tr>
                    <td>Females Vets:</td>
                    <td><span class="bold">{{statsCtrl.octoberTotals.totalFemaleVets}}</span></td>
                    <td>First Time Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.octoberTotals.totalFirstTimeVolunteers}}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bottom-border">First Time Vets:</td>
                    <td class="bottom-border"><span class="bold">{{statsCtrl.octoberTotals.totalFirstTimeVets}}</span></td>
                    <td>Warrior Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.octoberTotals.totalWarriorVolunteers}}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Visitors:</td>
                    <td><span class="bold">{{statsCtrl.octoberTotals.totalVisitors}}</span></td>
                    <td class="bottom-border">Volunteer Hours:</td>
                    <td class="bottom-border"><span class="bold">{{statsCtrl.octoberTotals.totalVolunteerHours}}</span></td>
                </tr>
                <tr>
                    <td>First Time Visitors:</td>
                    <td><span class="bold">{{statsCtrl.octoberTotals.totalFirstTimeVisitors}}</span></td>
                    <td>Outing Days</td>
                    <td><span class="bold">{{statsCtrl.octoberTotals.totalOutingDays}}</span></td>
                </tr>
            </table>
        </md-list-item>
        <md-divider ></md-divider>
        <md-list-item class="md-3-line" layout="column">
            <md-subheader class="md-no-sticky">November<span style="margin-left:100px">Total Events:</span>
                <span class="bold">{{statsCtrl.novemberTotals.totalEvents}}</span></md-subheader>
            <table class="stat-text" cellpadding="5">
                <tr>
                    <td>Males Vets:</td>
                    <td><span class="bold">{{statsCtrl.novemberTotals.totalMaleVets}}</span></td>
                    <td>Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.novemberTotals.totalEventVolunteers}}</span></td>
                    <td></td>

                </tr>
                <tr>
                    <td>Females Vets:</td>
                    <td><span class="bold">{{statsCtrl.novemberTotals.totalFemaleVets}}</span></td>
                    <td>First Time Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.novemberTotals.totalFirstTimeVolunteers}}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bottom-border">First Time Vets:</td>
                    <td class="bottom-border"><span class="bold">{{statsCtrl.novemberTotals.totalFirstTimeVets}}</span></td>
                    <td>Warrior Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.novemberTotals.totalWarriorVolunteers}}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Visitors:</td>
                    <td><span class="bold">{{statsCtrl.novemberTotals.totalVisitors}}</span></td>
                    <td class="bottom-border">Volunteer Hours:</td>
                    <td class="bottom-border"><span class="bold">{{statsCtrl.novemberTotals.totalVolunteerHours}}</span></td>
                </tr>
                <tr>
                    <td>First Time Visitors:</td>
                    <td><span class="bold">{{statsCtrl.novemberTotals.totalFirstTimeVisitors}}</span></td>
                    <td>Outing Days</td>
                    <td><span class="bold">{{statsCtrl.novemberTotals.totalOutingDays}}</span></td>
                </tr>
            </table>
        </md-list-item>
        <md-divider ></md-divider>
        <md-list-item class="md-3-line" layout="column">
            <md-subheader class="md-no-sticky">December<span style="margin-left:100px">Total Events:</span>
                <span class="bold">{{statsCtrl.decemberTotals.totalEvents}}</span></md-subheader>
            <table class="stat-text" cellpadding="5">
                <tr>
                    <td>Males Vets:</td>
                    <td><span class="bold">{{statsCtrl.decemberTotals.totalMaleVets}}</span></td>
                    <td>Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.decemberTotals.totalEventVolunteers}}</span></td>
                    <td></td>

                </tr>
                <tr>
                    <td>Females Vets:</td>
                    <td><span class="bold">{{statsCtrl.decemberTotals.totalFemaleVets}}</span></td>
                    <td>First Time Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.decemberTotals.totalFirstTimeVolunteers}}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bottom-border">First Time Vets:</td>
                    <td class="bottom-border"><span class="bold">{{statsCtrl.decemberTotals.totalFirstTimeVets}}</span></td>
                    <td>Warrior Volunteers:</td>
                    <td><span class="bold">{{statsCtrl.decemberTotals.totalWarriorVolunteers}}</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Visitors:</td>
                    <td><span class="bold">{{statsCtrl.decemberTotals.totalVisitors}}</span></td>
                    <td class="bottom-border">Volunteer Hours:</td>
                    <td class="bottom-border"><span class="bold">{{statsCtrl.decemberTotals.totalVolunteerHours}}</span></td>
                </tr>
                <tr>
                    <td>First Time Visitors:</td>
                    <td><span class="bold">{{statsCtrl.decemberTotals.totalFirstTimeVisitors}}</span></td>
                    <td>Outing Days</td>
                    <td><span class="bold">{{statsCtrl.decemberTotals.totalOutingDays}}</span></td>
                </tr>
            </table>
        </md-list-item>
    </md-list>
</md-content>